p {
    opacity: 0; /* Initially hidden */
    transition: opacity 1.5s ease; /* Smooth fade-in effect */
}
p.visible {
    opacity: 1; /* Fully visible */
}
.about-more-section {
    padding-bottom: 80px;
    padding-top: 80px;
    @include respond-to(mobile){
        padding-top: 160px;
    }    .container{
        .fa-solid{
            font-size: 56px;
             color: var(--secondary-clr);
             padding-bottom: 20px;
             @include respond-to(tablet) {
                font-size: 36px;
            }
            @include respond-to(mobile) {
                font-size: 28px;
            }
         }
    .about-more-header{
        p{
            font-size: 52px;
            color: var(--font-clr);
            font-weight: 600;
            @include respond-to(tablet) {
                font-size: 36px;
            }
            @include respond-to(mobile) {
                font-size: 28px;
            }
            .highlight {
                color: var(--secondary-clr);
            } 
        }
        
    }
    .about-more-brief{
        margin-bottom: 40px;

        p{
            position: relative;
            font-size: 18px;
            color: var(--primary-clr);
            @include respond-to(tablet) {
                font-size: 16px;
            }
            @include respond-to(mobile) {
                font-size: 15px;
            }
        }
        // p::after{
        //     content: '';
        //     border-bottom: 2px solid var(--secondary-clr);
        //     border-radius: 10px;
        //     width: 50px;
        //     position: absolute;
        //     bottom: 9px;
        //     left:160px;
        // }
    }
    .about-more-content {
        display: flex;
        gap: 20px;
        align-items: center;
       
        @include respond-to(mobile) {
            gap: 10px;
            flex-direction: column;
        }
        .about-more-lt {
            width: 50%;
            @include respond-to(mobile){
                width: 100%;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .about-more-rt {
            width: 50%;
           
            @include respond-to(mobile) {
                width: 100%;
            }
            .about-more-title {
                p {
                    font-size: 28px;
                    font-weight: 600;
                    color: var(--font-clr);
                    @include respond-to(tablet) {
                        font-size: 21px;
                    }
                    @include respond-to(mobile) {
                        font-size: 18px;
                    }
                }
            }
            .about-more-post {
                margin-top: 4px;
                margin-bottom: 16px;
                p {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--primary-clr);
                    @include respond-to(tablet) {
                        font-size: 18px;
                    }
                    @include respond-to(mobile) {
                        font-size: 16px;
                    }
                }
            }
            .about-more-txt {
                p {
                    color: #939090;
                    font-size: 18px;
                    @include respond-to(tablet) {
                        font-size: 16px;
                    }
                    @include respond-to(mobile) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
}


