p {
    opacity: 0; /* Initially hidden */
    transition: opacity 1.5s ease; /* Smooth fade-in effect */
}
p.visible {
    opacity: 1; /* Fully visible */
}
.commission-section {
    padding-block: 80px;
    @include respond-to(mobile){
        padding-top: 160px;
    }    .commission-content {
        .commission-head {
            p {
                font-size: 52px;
                color: var(--font-clr);
                text-align: center;
                font-weight: 600;
                margin-bottom: 40px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .commission-header {
            p {
                padding-bottom: 20px;
                color: var(--font-clr);
                font-size: 28px;
                text-align: center;
                @include respond-to(tablet) {
                    font-size: 21px;
                }
                @include respond-to(mobile) {
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }
        }
        .req-txt {
            padding-bottom: 10px;
            p {
                color: var(--primary-clr);
                text-align: center;
                font-size: 18px;
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }
        .submission-btn-cnt {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            .submition-btn {
                height: 44px;
                width: 200px;
                padding: 10px;
                background-color: var(--bg-clr);
                border: 2px solid var(--secondary-clr);
                cursor: pointer;
                p {
                    color: var(--secondary-clr);
                }
            }
            .submition-btn:hover {
                background-color: var(--secondary-clr);
                p {
                    color: var(--bg-clr);
                }
            }
        }
        .commission-txt {
            padding: 0 40px 100px 100px;
            @include respond-to(tablet) {
                padding: 0 40px 30px 30px;
            }
            @include respond-to(mobile) {
                padding: 0 0 40px 0;
            }
            p {
                color: #939090;
                font-size: 18px;
                text-align: center;
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }
        .wall-content {
            .wall-img {
                img {
                    height: 100%;
                    width: 60%;
                    object-fit: cover;

                    @include respond-to(mobile) {
                        width: 90%;
                    }
                }
            }
            .commission-txt2 {
                padding: 40px 20px;
                background-color: var(--bg-secondary-clr);
                position: relative;
                width: 60%;
                top: -150px;
                left: 25%;
                @include respond-to(tablet) {
                    top: -120px;
                }
                @include respond-to(mobile) {
                    padding: 20px 10px;
                    top: -100px;
                }
                @include respond-to(mini-mobile) {
                    top: -80px;
                    left: 15%;
                    width: 85%;
                }
                .txt2-header {
                    padding-bottom: 10px;
                    p {
                        font-size: 28px;
                        color: var(--font-clr);
                        font-weight: 500;
                        @include respond-to(tablet) {
                            font-size: 21px;
                        }
                        @include respond-to(mobile) {
                            font-size: 18px;
                        }
                    }
                }
                .txt2-txt {
                    p {
                        color: #939090;
                        @include respond-to(tablet) {
                            font-size: 15px;
                        }
                        @include respond-to(mobile) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
