@import "_mixin.scss";
@import "_bootstrap.scss";
@import "_about.scss";
@import "_commission.scss";
@import "_achievement.scss";

p {
    opacity: 0; /* Initially hidden */
    transition: opacity 1.5s ease; /* Smooth fade-in effect */
}

p.visible {
    opacity: 1; /* Fully visible */
}

.navigation {
    background-color: var(--bg-clr);
    position: sticky;
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }
        }
        .nav-items {
            ul {
                display: flex;
                gap: 32px;
                li {
                    a {
                        font-weight: 500;
                        font-size: 20px;
                        color: var(--primary-clr);
                        position: relative;
                    }

                    a::after {
                        content: " ";
                        position: absolute;
                        bottom: -5px;
                        left: 1px;
                        width: 100%;
                        height: 1.5px;
                        border-radius: 5px;
                        color: var(--secondary-clr);
                        background-color: var(--secondary-clr);
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: transform 250ms ease-in-out;
                        z-index: 9999;
                    }
                    a:hover {
                        color: var(--secondary-clr);
                    }
                    a:hover:after {
                        transform: scaleX(0.7);
                    }
                    a.active {
                        color: var(--secondary-clr);
                    }
                    a.active::after {
                        color: var(--secondary-clr);
                        transform: scaleX(0.7);
                    }
                }
            }
        }
    }
    @include respond-to(mobile) {
        display: none;
    }
}
// .mobile-nav {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     overflow: hidden;
//     background-color: white;
//     padding: 12px 0;
//     z-index: 99999;
//     display: none;
//     @include respond-to(mobile) {
//         display: block !important;
//     }
//     .nav-items {
//         ul {
//             display: flex;
//             gap: 8px;
//             justify-content: space-between;
//             li {
//                 width: 100%;

//                 a {
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     gap: 5px;
//                     position: relative;
//                     cursor: pointer;
//                     .navi {
//                         color: #000000;
//                         font-size: 28px;
//                     }
//                     p {
//                         font-size: 9px;
//                         color: #000000;
//                     }
//                 }
//                 a::before {
//                     display: block;
//                     content: "";
//                     position: absolute;
//                     top: -12px;
//                     left: 0px;
//                     width: 100%;
//                     height: 2px;
//                     border-radius: 5px;
//                     color: var(--secondary-clr);
//                     background-color: var(--secondary-clr);
//                     transform: scaleX(0);
//                     transform-origin: left;
//                     transition: transform 50ms ease-in-out;
//                 }
//                 a:hover .navi {
//                     color: var(--secondary-clr);
//                 }
//                 a:hover p {
//                     color: var(--secondary-clr);
//                 }
//                 a.active .navi {
//                     color: var(--secondary-clr);
//                 }
//                 a.active p {
//                     color: var(--secondary-clr);
//                 }
//                 a.active::before {
//                     transform: scaleX(1);
//                 }
//             }
//         }
//     }
// }

nav {
    background-color: var(--bg-clr);
    padding: 1rem;
    position: fixed; /* Make the nav bar fixed */
    top: 0; /* Stick to the top */
    left: 0; /* Stick to the left */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
    display: none;
    @include respond-to(mobile) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger {
        cursor: pointer;
        background: none;
        border: none;
        padding: 10px;
        position: relative;
        span {
            display: block;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
            border-radius: 2px;
        }
    }
    .logo-mob{
        img{
            width: 70px;
            height: 70px;
        }
    }
    /* Navigation Links */
    .nav-links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 70px;
        left: 100%;
        flex-direction: column;
        background-color: var(--bg-clr);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 1rem 0;
        height: 100%;
    }
    .nav-links li {
        padding: 20px 0;
    }
    .nav-links li:hover {
        background-color: var(--secondary-clr);
    }
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        transition: color 0.3s;
    }

    .nav-links li a:hover {
        color: #ddd;
    }
    .nav-links.active {
        left: 0;
    }
}

/* Line sizes */
.hamburger span:nth-child(1),
.hamburger span:nth-child(4) {
    width: 35px;
    height: 4px;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    width: 25px;
    height: 3px;
}

/* Animate to X */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
    width: 35px;
}

.hamburger.active span:nth-child(4) {
    transform: rotate(-45deg) translate(8px, -8px);
    width: 35px;
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    opacity: 0;
    transform: translateX(-20px);
}

.hero-section {
    background-color: var(--bg-clr);
    padding-block: 80px;
    @include respond-to(mobile){
        padding-top: 160px;
    }
    .hero-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        @include respond-to(mobile) {
            flex-direction: column-reverse;
        }
        .hero-lt {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include respond-to(mobile) {
                width: 100%;
            }
            .hero-header {
                p {
                    font-size: 56px;
                    color: var(--font-clr);
                    font-weight: 600;
                    @include respond-to(tablet) {
                        font-size: 42px;
                    }
                    @include respond-to(mobile) {
                        font-size: 28px;
                    }
                }
            }
            .typing-container {
                height: 44px;
                overflow: visible;
                display: inline-block;
                letter-spacing: 1px;
                font-size: 44px;
                color: var(--secondary-clr);
                font-weight: 600;
                white-space: pre-wrap; /* Preserve spaces and allow text wrapping */
                @include respond-to(tablet) {
                    font-size: 32px;
                }
                @include respond-to(mobile) {
                    font-size: 24px;
                }
            }

            .hero-txt {
                p {
                    color: #939090;
                    font-size: 18px;
                    @include respond-to(tablet) {
                        font-size: 16px;
                    }
                    @include respond-to(mobile) {
                        font-size: 15px;
                    }
                }
            }
        }
        .hero-rt {
            width: 40%;
            @include respond-to(mobile) {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            .main-img {
                position: relative;

                .bg {
                    position: relative;
                    display: flex;
                    justify-content: right;
                    img {
                        border-top-left-radius: 225px;
                        border-top-right-radius: 225px;
                        border-bottom-left-radius: 225px;
                        height: 396px;
                        width: 340px;
                        object-fit: cover;
                        opacity: 0.9;
                        @include respond-to(mobile) {
                            border-bottom-right-radius: 225px;
                            height: 295px;
                            width: 255px;
                        }
                    }
                    .img-pop {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: var(--secondary-clr);
                        padding: 15px 40px 15px 75px;
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        @include respond-to(mobile) {
                            right: -75px;
                            left: 50%;
                            padding: 15px 30px;
                            align-items: center;
                            transform: translate(-50%, 0%);
                        }
                        .ch-name {
                            p {
                                font-size: 24px;
                                font-weight: 500;
                                color: var(--font-clr);
                                @include respond-to(tablet) {
                                    font-size: 16px;
                                }
                            }
                        }
                        .ch-post {
                            p {
                                font-size: 18px;
                                color: var(--primary-clr);
                                @include respond-to(tablet) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.about-section {
    background-color: var(--bg-secondary-clr);
    padding-block: 80px;
    @include respond-to(mobile) {
        display: none;
    }
    .about-content {
        .about-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                text-align: center;
                font-weight: 600;
                margin-bottom: 80px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .about-img {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            img {
                height: 250px;
                width: 250px;
                border-radius: 50%;
            }
        }
        .about-title {
            margin-bottom: 20px;
            p {
                font-size: 36px;
                color: var(--font-clr);
                font-weight: 600;
                text-align: center;
                @include respond-to(tablet) {
                    font-size: 28px;
                }
                @include respond-to(mobile) {
                    font-size: 21px;
                }
            }
        }
        .about-txt {
            margin-bottom: 30px;
            p {
                color: #939090;
                text-align: center;
                font-size: 18px;
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }

        .readmore-container {
            display: flex;
            justify-content: center;
            a {
                .readmore-btn {
                    height: 44px;
                    width: 140px;
                    padding: 10px;
                    background-color: var(--bg-secondary-clr);
                    border: 2px solid var(--secondary-clr);
                    cursor: pointer;
                    p {
                        font-weight: 500;
                        color: var(--secondary-clr);
                    }
                }
            }
            .readmore-btn:hover {
                background-color: var(--secondary-clr);
                p {
                    color: var(--bg-clr);
                }
            }
            .readmore-btn:active {
                animation: buttonScale 0.3s ease;
            }
            @keyframes buttonScale {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.1);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
    }
}

.video-container {
    display: none;
    overflow: hidden;

    @include respond-to(mobile) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.service-section {
    padding-top: 80px;
    .service-content {
        .service-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                text-align: center;
                font-weight: 600;
                margin-bottom: 80px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .tabs-container {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            @include respond-to(mini-mobile) {
                flex-direction: column;
            }
            .tab-content {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: center;
                align-items: center;
                background-color: #323946;
                border: 2px solid #323946;
                border-radius: 12px;
                padding: 50px 25px;
                @include respond-to(tablet) {
                    padding: 40px 29px;
                }
                @include respond-to(mobile) {
                    padding: 20px 15px;
                }
                .fa-solid {
                    color: var(--secondary-clr);
                    font-size: 56px;
                    @include respond-to(tablet) {
                        font-size: 36px;
                    }
                    @include respond-to(mobile) {
                        font-size: 28px;
                    }
                }
                .tab-title {
                    p {
                        color: var(--font-clr);
                        font-size: 32px;
                        font-weight: 600;
                        @include respond-to(tablet) {
                            font-size: 24px;
                        }
                        @include respond-to(mobile) {
                            font-size: 21px;
                        }
                    }
                }
                .tab-txt {
                    margin-bottom: 20px;
                    p {
                        color: var(--primary-clr);
                        font-size: 18px;
                        text-align: center;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 5;
                        text-overflow: ellipsis;
                        width: 100%;
                        overflow: hidden;
                        @include respond-to(tablet) {
                            font-size: 16px;
                        }
                        @include respond-to(mobile) {
                            font-size: 15px;
                        }
                    }
                }
                .readmore-container {
                    display: flex;
                    justify-content: center;
                    .readmore-btn {
                        height: 40px;
                        width: 140px;
                        padding: 10px;
                        border-radius: 24px;
                        background-color: var(--secondary-clr);
                        cursor: pointer;
                        p {
                            font-weight: 500;
                            color: var(--bg-clr);
                        }
                    }
                    .readmore-btn:hover {
                        box-shadow: 0 0 8px 2px var(--primary-clr);
                    }
                    .readmore-btn:active {
                        animation: buttonScale 0.3s ease;
                    }
                    @keyframes buttonScale {
                        0% {
                            transform: scale(1);
                        }
                        50% {
                            transform: scale(1.1);
                        }
                        100% {
                            transform: scale(1);
                        }
                    }
                }
            }
            .tab-content:hover {
                border: 2px solid var(--secondary-clr);
            }
        }
    }
}

.portfolio-section {
    padding-block: 80px;
    @include respond-to(mobile){
        padding-top: 160px;
    }
    .portfolio-header {
        p {
            font-size: 52px;
            color: var(--font-clr);
            text-align: center;
            font-weight: 600;
            margin-bottom: 80px;
            @include respond-to(tablet) {
                font-size: 36px;
            }
            @include respond-to(mobile) {
                font-size: 28px;
            }
            .highlight {
                color: var(--secondary-clr);
            }
        }
    }
    .portfolio-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        @include respond-to(mobile) {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .portfolio-item {
            position: relative;
            border-radius: 16px;
            img {
                border-radius: 16px;
                height: 280px;
                object-fit: cover;
                @include respond-to(tablet) {
                    height: 220px;
                }
                @include respond-to(mini-mobile) {
                    height: 160px;
                }
            }
            .overlay {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border-radius: 16px;
                background-image: linear-gradient(#066ac85b, #066ac8);
                opacity: 0.9;
                overflow: hidden;
                width: 100%;
                height: 0;
                transition: 0.5s ease;
                .text99 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    .text-gradi-title {
                        p {
                            color: var(--font-clr);
                            font-size: 26px;
                            font-weight: 600;
                            @include respond-to(tablet) {
                                font-size: 18px;
                            }
                            @include respond-to(mobile) {
                                font-size: 16px;
                            }
                            @include respond-to(mini-mobile) {
                                font-size: 12px;
                            }
                        }
                    }
                    .gradi-txt {
                        p {
                            color: var(--primary-clr);
                            font-size: 14px;
                            text-align: center;
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            width: 100%;
                            overflow: hidden;
                            @include respond-to(tablet) {
                                font-size: 12px;
                            }
                            @include respond-to(mobile) {
                                font-size: 11px;
                                -webkit-line-clamp: 3;
                            }
                        }
                    }
                    .bi {
                        color: var(--font-clr);
                        width: 32px;
                        height: 32px;
                        cursor: pointer;
                        @include respond-to(tablet) {
                            height: 28px;
                            width: 28px;
                        }
                        @include respond-to(mobile) {
                            height: 24px;
                            width: 24px;
                        }
                    }
                    .bi:hover {
                        transform: rotate(45deg) scale(1.2);
                        transition: 250ms ease-out;
                    }
                }
            }
        }
        .portfolio-item:hover .overlay {
            top: 0;
            height: 100%;
        }
    }
}

.contact-section {
    background-color: var(--bg-clr);
    padding: 80px 0;
    @include respond-to(mobile){
        padding-top: 160px;
    }    .contact-content {
        .contact-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                text-align: center;
                font-weight: 600;
                margin-bottom: 80px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .contact-title {
            margin-bottom: 15px;
            p {
                font-size: 28px;
                color: var(--font-clr);
                font-weight: 600;
                @include respond-to(tablet) {
                    font-size: 21px;
                }
                @include respond-to(mobile) {
                    font-size: 18px;
                }
            }
        }
        .contact-txt {
            margin-bottom: 20px;
            p {
                font-size: 18px;
                color: var(--primary-clr);
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }
        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 20px;
            input[type="text"],
            [type="email"],
            select {
                font-size: 18px;
                padding: 18px 32px;
                display: inline-block;
                background-color: #d2daed2b;
                color: var(--font-clr);
                border: none;
                outline: none;
                box-sizing: border-box;
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
            ::placeholder {
                color: #9c9c9c;
            }
            #msg {
                padding-bottom: 85px;
            }
        }
        .contact-submit-btn {
            height: 44px;
            width: 140px;
            padding: 10px;
            background-color: var(--bg-clr);
            border: 2px solid var(--secondary-clr);
            cursor: pointer;
            p {
                font-weight: 500;
                color: var(--secondary-clr);
            }
        }
        .contact-submit-btn:hover {
            background-color: var(--secondary-clr);
            p {
                color: var(--bg-clr);
            }
        }
    }
}

.web-service-section {
    margin: 80px 0;
    @include respond-to(mobile){
        padding-top: 80px;
    }    .container {
        .about-more-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                font-weight: 600;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .about-more-brief {
            margin-bottom: 40px;

            p {
                position: relative;
                font-size: 18px;
                color: var(--primary-clr);
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }
        .web-service-content {
            display: flex;
            gap: 20px;

            @include respond-to(mobile) {
                flex-direction: column;
            }
            .web-service-lt {
                width: 70%;

                @include respond-to(mobile) {
                    width: 100%;
                }
                .web-img {
                    margin-bottom: 20px;
                    img {
                        object-fit: cover;
                        height: 400px;
                        border-radius: 5px;

                        @include respond-to(mobile) {
                            height: 280px;
                        }
                    }
                }
                .web-title {
                    margin-bottom: 10px;
                    p {
                        font-size: 28px;
                        font-weight: 600;
                        @include respond-to(tablet) {
                            font-size: 21px;
                        }
                        @include respond-to(mobile) {
                            font-size: 18px;
                        }
                    }
                }
                .web-txt {
                    p {
                        font-size: 18px;
                        color: #939090;
                        @include respond-to(tablet) {
                            font-size: 16px;
                        }
                        @include respond-to(mobile) {
                            font-size: 15px;
                        }
                    }
                }
            }
            .web-service-rt {
                width: 30%;

                @include respond-to(mobile) {
                    width: 100%;
                }
                .web-rt {
                    box-shadow: 0px 0px 15px 0px rgba(243, 244, 246, 0.051);
                    padding: 40px 20px;
                    border-radius: 5px;
                    .web-rt-title {
                        margin-bottom: 15px;
                        p {
                            font-size: 21px;
                            color: var(--font-clr);
                            font-weight: 500;
                            margin-bottom: 5px;
                            .highlight {
                                color: var(--secondary-clr);
                            }
                        }
                        .bottom-line {
                            height: 2px;
                            width: 70px;
                            border-bottom: 2px solid var(--secondary-clr);
                            border-radius: 5px;
                            color: var(--secondary-clr);
                        }
                    }
                    .icon-web {
                        display: flex;
                        gap: 5px;
                        margin-bottom: 10px;
                        .fa-brands {
                            height: 24px;
                            width: 24px;
                            color: var(--secondary-clr);
                        }
                        p {
                            font-size: 18px;
                            color: #939090;
                            cursor: pointer;
                            @include respond-to(tablet) {
                                font-size: 16px;
                            }
                            @include respond-to(mobile) {
                                font-size: 15px;
                            }
                        }
                        p:hover {
                            color: var(--secondary-clr);
                        }
                    }
                }
            }
        }
    }
}

.artwork-section {
    padding-block: 80px;
    @include respond-to(mobile){
        padding-top: 160px;
    }    .container {
        .artwork-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                font-weight: 600;
                text-align: center;
                padding-bottom: 80px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .artwork-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            align-self: auto;
            @include respond-to(mobile) {
                grid-template-columns: 1fr 1fr;
                gap: 15px;
            }
            .art-img-txt {
                .art-img {
                    padding-bottom: 10px;
                    img {
                        height: 500px;
                        object-fit: cover;
                        cursor: pointer;
                        transition: transform 0.25s;
                        width: 100%;
                        @include respond-to(tablet) {
                            height: 440px;
                        }
                        @include respond-to(mobile) {
                            height: 360px;
                        }
                        @include respond-to(mini-mobile) {
                            height: 250px;
                        }
                    }
                    img:hover {
                        transform: scale(1.05);
                        transition: 250ms ease-out;
                    }
                }
                .art-txt {
                    p {
                        color: var(--primary-clr);
                        font-size: 18px;
                        font-weight: 500;
                        @include respond-to(tablet) {
                            font-size: 16px;
                        }
                        @include respond-to(mobile) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 999999;
        .modal-content {
            position: relative;
            width: 60%;
            height: 400px;
            @include respond-to(tablet) {
                width: 80%;
                height: 500px;
            }
            @include respond-to(mobile) {
                width: 90% !important;
                height: 600px !important;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .close {
                position: absolute;
                top: -50px;
                right: -5px;
                font-size: 40px;
                color: #939090;
                cursor: pointer;
                @include respond-to(tablet) {
                    font-size: 60px !important;
                    top: -75px;
                }
            }
            .close:hover {
                color: #9390909b;
            }
        }
    }
    .nav-btn {
        position: absolute;
        top: 50%;
        font-size: 30px;
        color: white;
        cursor: pointer;
        background: none;
        border: none;
    }
    .prev {
        left: -100px;
        font-size: 56px;
        @include respond-to(tablet) {
            display: none;
        }
    }
    .prev:hover {
        color: #939090;
        transform: translateX(-20px);
        transition: 250ms ease-out;
    }
    .next {
        right: -100px;
        font-size: 56px;
        @include respond-to(tablet) {
            display: none;
        }
    }
    .next:hover {
        color: #939090;
        transform: translateX(20px);
        transition: 350ms ease-out;
    }
}

.video-section {
    padding-bottom: 80px;
    .video-header {
        p {
            font-size: 52px;
            color: var(--font-clr);
            text-align: center;
            font-weight: 600;
            margin-bottom: 40px;
            @include respond-to(tablet) {
                font-size: 36px;
            }
            @include respond-to(mobile) {
                font-size: 28px;
            }
            .highlight {
                color: var(--secondary-clr);
            }
        }
    }
    .video-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .video-img {
            position: relative;
            img {
                height: 320px;
                object-fit: cover;
                @include respond-to(tablet) {
                    height: 280px;
                }
                @include respond-to(mobile) {
                    height: 200px;
                }
                @include respond-to(mini-mobile) {
                    height: 120px;
                }
            }
            .fa-play {
                position: absolute;
                color: var(--font-clr);
                font-size: 44px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
            }
            .fa-play:hover {
                font-size: 56px;
                transition: 250ms ease-out;
            }
        }
    }
}

.footer-section {
    padding-block: 50px;
    background-color: var(--bg-secondary-clr);
    clip-path: polygon(0 0, 100% 35px, 100% 100%, 0 100%);

    .footer-content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        @include respond-to(mobile) {
            flex-direction: column-reverse;
        }
        a {
            @include respond-to(mobile) {
                width: 100%;
            }
            .contact-btn {
                height: 44px;
                width: 140px;
                padding: 10px;
                background-color: var(--bg-secondary-clr);
                border: 2px solid var(--secondary-clr);
                cursor: pointer;
                @include respond-to(mobile) {
                    width: 100%;
                }
                p {
                    font-weight: 500;
                    color: var(--secondary-clr);
                }
            }
            .contact-btn:hover {
                background-color: var(--secondary-clr);
                p {
                    color: var(--bg-clr);
                }
            }
        }
        .rights-txt {
            p {
                color: var(--primary-clr);
                font-weight: 500;
                @include respond-to(tablet) {
                    font-size: 15px;
                }
                @include respond-to(mobile) {
                    font-size: 14px;
                }
            }
        }
        .footer-icons {
            display: flex;
            gap: 16px;
            .fa-brands {
                color: var(--font-clr);
                font-size: 24px;
                cursor: pointer;
            }
            .fa-brands:hover {
                color: var(--secondary-clr);
            }
        }
    }
}

.form-section {
    padding: 80px 160px;
    padding-top: 160px;
    @include respond-to(tablet) {
        padding: 70px 100px;
    }
    @include respond-to(mobile) {
        padding: 50px 20px;
    }
    @include respond-to(mini-mobile) {
        padding: 50px 0px;
    }
    .form-content {
        background-color: var(--bg-secondary-clr);
        padding: 50px;
        @include respond-to(tablet) {
            padding: 40px;
        }
        @include respond-to(mobile) {
            padding: 30px;
        }

        .form-header {
            p {
                font-size: 52px;
                color: var(--font-clr);
                font-weight: 600;
                margin-bottom: 80px;
                @include respond-to(tablet) {
                    font-size: 36px;
                }
                @include respond-to(mobile) {
                    font-size: 28px;
                }
                .highlight {
                    color: var(--secondary-clr);
                }
            }
        }
        .form-title {
            margin-top: 20px;
            p {
                font-size: 18px;
                color: var(--font-clr);
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
            }
        }
        .form-txt {
            p {
                font-size: 14px;
                color: #939090;
            }
        }
        .form-form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 20px;
            input[type="text"],
            [type="email"],
            [type="date"],
            textarea,
            select {
                font-size: 18px;
                padding: 18px 32px;
                display: inline-block;
                background-color: #d2daed2b;
                color: var(--font-clr);
                border: none;
                outline: none;
                box-sizing: border-box;
                width: 100%;
                @include respond-to(tablet) {
                    font-size: 16px;
                }
                @include respond-to(mobile) {
                    font-size: 15px;
                }
                &:focus {
                    outline: 1px solid var(--secondary-clr);
                    border-color: var(--secondary-clr);
                }
            }
            ::placeholder {
                color: #9c9c9c;
            }
            #mmsg {
                height: 150px;
            }

            .name-content {
                display: flex;
                width: 100%;
                justify-content: space-between;
                gap: 10px;
            }
            .name-title {
                p {
                    font-size: 21px;
                    color: var(--font-clr);
                    @include respond-to(tablet) {
                        font-size: 18px;
                    }
                    @include respond-to(mobile) {
                        font-size: 16px;
                    }
                    .require {
                        font-size: 16px;
                        color: #939090;
                        @include respond-to(tablet) {
                            font-size: 15px;
                        }
                        @include respond-to(mobile) {
                            font-size: 14px;
                        }
                    }
                }
            }
            .require {
                font-size: 16px;
                color: #939090;
                @include respond-to(tablet) {
                    font-size: 15px;
                }
                @include respond-to(mobile) {
                    font-size: 14px;
                }
            }

            #date {
                cursor: pointer;
                width: 100%;
            }

            .arts-drop {
                position: relative;
                #arts {
                    margin-bottom: 25px;
                    cursor: pointer;
                    appearance: none;
                    option {
                        background-color: #939090;
                        border: none;
                        font-size: 14px;
                        color: var(--bg-clr);
                    }
                }
                .fa-solid {
                    position: absolute;
                    right: 30px;
                    top: 25%;
                    color: var(--font-clr);
                }
            }
        }
        .form-submit-btn {
            height: 44px;
            width: 140px;
            padding: 10px;
            background-color: var(--bg-secondary-clr);
            border: 2px solid var(--secondary-clr);
            cursor: pointer;
            p {
                font-weight: 500;
                color: var(--secondary-clr);
            }
        }
        .form-submit-btn:hover {
            background-color: var(--secondary-clr);
            p {
                color: var(--bg-secondary-clr);
            }
        }
    }
}
#thank-you {
    border: 1px solid var(--bg-secondary-clr);
    background-color: var(--bg-secondary-clr);
    padding: 50px 0;
    border-radius: 10px;
    display: none;
    .thank-icon {
        text-align: center;
        padding-bottom: 10px;
        .fa-regular {
            color: var(--secondary-clr);
            font-size: 36px;
        }
    }
    .thank-txt {
        padding-bottom: 20px;
        p {
            font-size: 14px;
            color: #5cb85c;
            text-align: center;
        }
    }
    .thank-btn {
        display: flex;
        justify-content: center;
        .success-btn {
            height: 44px;
            width: 180px;
            padding: 10px;
            background-color: var(--bg-secondary-clr);
            border: 2px solid var(--secondary-clr);
            cursor: pointer;
            p {
                font-weight: 500;
                color: var(--secondary-clr);
            }
        }
        .success-btn:hover {
            background-color: var(--secondary-clr);
            p {
                color: var(--bg-secondary-clr);
            }
        }
    }
}

.gallery-inner-container {
    .gallery-inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        align-self: auto;
        @include respond-to(mobile) {
            grid-template-columns: 1fr 1fr !important;
            gap: 15px !important;
        }
        .g-inner-img {
            img {
                cursor: pointer;
                transition: transform 0.2s;
                height: 230px;
                width: 100%;
                object-fit: cover;
                @include respond-to(tablet) {
                    height: 200px;
                }
                @include respond-to(mobile) {
                    height: 160px !important;
                }
            }
        }
        img:hover {
            transform: scale(1.05);
        }
    }
}
